<!doctype html>
<html lang="pt-br">
{% load static %}

<head>
  <!--Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!--css-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/projetos.css' %}" />
  <!--Links para o slick-->
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
  <!--Bootstrap CSS-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <meta name="Description"
  content="#">
  <title>CEC Baby</title>
  <link rel="sortcut icon" href="{% static 'img/logo-sem-fundo.png' %}" type="image/png" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top ">
    <a class="navbar-brand" href="{% url 'Home' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a class="nav-link" href="{% url 'Home' %}" style="color: #3EBB51;">INÍCIO<span
              class="sr-only">(current)</span></a> </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'Projetos' %}" style="color: #4F78C7;">PROJETOS</a></li>
        <li class="nav-item"><a class="nav-link" href="#contatos" style="color: #F6C101;">CONTATOS</a></li>
      </ul>
    </div>
  </nav>

  <!--Projetos-->
  <section class="projetos" id="projetos">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="home">
            <a href="{% url 'Home' %}"><img src="{% static 'img/casa.png' %}" alt="casa"></a>
            <p> > Projetos</p>
          </div>
          <div class="titulo">
            <h1 style="color:#F6C101;">Conheça nossos projetos</h1>
          </div>
        </div>

        {% for item in Projetos %}
          <div class="col-lg-4 ">
          {% if forloop.counter is 1 or forloop.counter is 6 %}
            <div class="card1">
          {% elif forloop.counter is 2 or forloop.counter is 4 %}
            <div class="card2">
          {% elif forloop.counter is 3 or forloop.counter is 5 %}
            <div class="card3">
          {% endif %}
              <img src="{{ item.img_ic.url }}" alt="{{ item.titulo}}_img">
              <h4>{{ item.titulo }}</h4>
              <p>{{ item.desc }}</p>
              <a name="button" id="button" class="btn btn-primary" href="{{ item.get_absolute_url }}" role="button">SAIBA MAIS</a>
            </div>
          </div>
        {% endfor %}

        {% if Projetos.has_other_pages %}
          <div class="col-lg-12 passador" >
            {% if Projetos.has_previous %}
              <a  href="?page={{ Projetos.previous_page_number }}"><img src="{% static 'css/imagens/esquerda.png' %}" class="setas"></a>
            {% endif %}
            {% for i in Projetos.paginator.page_range %}
            {% if Projetos.number == i %}
              <li class="active"><span>{{ i }}</span></li>
            {% else %}
              <li><a class="other_pages" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if Projetos.has_next %}
              <a href="?page={{ Projetos.next_page_number }}"><img src="{% static 'css/imagens/direita.png' %}" class="setas"></a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      </div>
    </div>
  </section>
  <!--Fim Projetos-->

  <!--Contatos-->
  <section class="contatos" id="contatos">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <h1 style="color: #0E4DC7;">Fale com a diretora</h1>
            <form method = "POST">
              {% csrf_token %}
              <div class="forms">
                {{ form1.nome }}
                {{ form1.telefone }}
                <div class="form-group">
                  {{ form1.mensagem }}
                </div>
              </div>
              <div class="mais">
                <button name="button" id="button" class="btn btn-primary" href="#" type="submit">ENVIAR</button>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <h1 style="color:#3EBB51;">Contatos</h1>
            {% for item in Contatos %}
              <div class="contatos-text">
                <img src="{% static 'img/fone.png' %}" alt="telefone">
                <p>{{ item.telefone }}</p>
              </div>
              <div class="contatos-text">
                <img src="{% static 'img/e-mail.png' %}" alt="e-mail">
                <p>{{ item.email }}</p>
              </div>
              <div class="social">
                <a href="{{ item.face }}" target="blank"><img src="{% static 'img/face.png' %}" alt="facebook"></a>
                <a href="{{ item.insta }}" target="blank"><img src="{% static 'img/insta.png' %}" alt="instagram"></a>
                <a href="{{ item.wpp }}" target="blank"><img src="{% static 'img/wpp.png' %}" alt="whatsapp"></a>
              </div>
            {% endfor %}
          </div>
          <div class="col-lg-4">
            <h1 style="color:#DA3838;">Onde estamos</h1>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15878.47517478385!2d-35.2029964!3d-5.7678647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6cee4670bab6ee3a!2sCEC%20Baby!5e0!3m2!1spt-BR!2sbr!4v1571604643865!5m2!1spt-BR!2sbr"
              width="260" height="240" frameborder="0" style="border:0;" allowfullscreen="">
            </iframe>
          </div>
        </div>
      </div>
    </section>
  <!--Fim Contatos-->
  <footer>
    <p><b>CEC Baby</b> © 2019 . Desenvolvido pela</p>
    <a href="https://www.ejectufrn.com.br" target="_blank"><img src="{% static 'img/eject.png' %}" alt="eject"></a>
  </footer>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--<script type="text/javascript" src="{% static 'slick/slick/slick.min.js' %}"></script>
  <script src="{% static 'slick/Function.js' %}"></script>-->
</body>

</html>