.col-lg-4{
    margin-bottom: 9%;
}

.projetos{
    padding-top: 50px;
    padding-bottom: 7% !important;
    background: #F2F2F2 !important;
}

.projetos h1{
    font-size: 48px !important;
    margin-bottom: 7% !important;
}

.home p{
    font-size: 14px !important;
    color: #828282 ;
    padding: 0 !important;
    margin-bottom: 8%;
    text-indent: 0px !important;
    word-spacing: 8px;
    display: inline-block;
}

.home img{
    margin-right: 10px;
}

.passador {
    text-align: center ;
}

.passador a{
    background: #F6D86C;
    font-size: 0.001rem !important;
    line-height: 0.001rem !important;
    text-indent: 0 !important;
    padding: 0.55rem 0.45rem 0.55rem 0.45rem;
    margin: 5px;
    border-radius: 100%;
    display: inline-block;
    color: #F6D86C !important;
}

.projetos .btn{
    background: #F2F2F2 !important;
    padding:8px 45px 8px 45px !important;
    font-size: 18px !important;
}

.card1{
    background: linear-gradient(to bottom, #F2F2F2 0%, #F2F2F2 91px, #DA3838 91px, #DA3838 100%) !important;
    height: 510px;
}

.card1 .btn , .card1 .btn-primary:hover{
    color: #DA3838;
    position: absolute;
    top: 86%;
    right: 95px;
    left: 95px;
}

.card2{
    background: linear-gradient(to bottom, #F2F2F2 0%, #F2F2F2 91px, #4F78C7 91px, #4F78C7 100%) !important;
    height: 510px;
}

.card2 .btn, .card2 .btn-primary:hover{
    color: #4F78C7;
    position: absolute;
    top: 86%;
    right: 95px;
    left: 95px;
}

.card3{
    background: linear-gradient(to bottom, #F2F2F2 0%, #F2F2F2 91px, #F6C101 91px, #F6C101 100%) !important;
    height: 510px;
}

.card3 .btn, .card3 .btn-primary:hover{
    color: #F6C101;
    position: absolute;
    top: 86%;
    right: 95px;
    left: 95px;
}


@media (max-width: 1400px){
    .card1 .btn , .card1 .btn-primary:hover{
        right: 70px;
        left: 70px;
    }
    .card2 .btn, .card2 .btn-primary:hover{
        right: 70px;
        left: 70px;
    }
    .card3 .btn, .card3 .btn-primary:hover{
        right: 70px;
        left: 70px;
    }
}

@media (max-width: 1200px){
    .card1 .btn , .card1 .btn-primary:hover{
        right: 45px;
        left: 45px;
    }
    .card2 .btn, .card2 .btn-primary:hover{
        right: 45px;
        left: 45px;
    }
    .card3 .btn, .card3 .btn-primary:hover{
        right: 45px;
        left: 45px;
    }
}