.page-p{
    height: 600px;
    width: 100%;
    position: absolute;
}

.proj-titulo h1{
    color: #FFFCF3;
    font-size: 48px;
}

.proj-titulo{
    margin-top: 12%;
    margin-bottom: 6%;  
}

.bg-proj{
    background: #F2F2F2;
}

.texto{
    background: #F2F2F2;
    display: flex;
}

.estrutura{
    padding-top: 3%;
    padding-left: 10px;
    padding-right: 10px;
}

.estrutura p{
    padding-bottom: 12%;
    text-indent: 0 !important;
}

h6{
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px !important;
    line-height: 40px; 
    text-indent: 0 !important;
    color: #333333;
    padding-bottom: 6% !important;
}

.estrutura-text h3{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    padding-bottom: 3%;
}

.estrutura-text p{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1.35px;
    color: #4F4F4F;
    padding-bottom: 3%;
}

.home .Titulo{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}

.estrutura-text img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}