body{
    padding-top: 86px;
}
/*fontes*/
h1{
    font-family: 'Pacifico', cursive;
    font-size: 44px !important;
    line-height: 50px !important;
    text-align: left;
    letter-spacing: 1.35px;
    margin: 0 !important;
}

h2 {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    font-size: 48px !important;
    line-height: 59px !important;
    text-align: center;
    letter-spacing: 1.35px !important;
    color: #FBFBFB;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C69D0C;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #4F4F4F;
    margin: 0 !important;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: center;
    color: #FFFCF3;
}

h5{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal !important;
    font-size: 20px;
    line-height: 27px !important;
    color: #4F4F4F;
}

p{
    font-family:'Montserrat', sans-serif;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 22px !important;
    text-indent: 40px !important;
    color: #4F4F4F;
}
.navbar a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1.35px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 14px;
    margin-right: 14px;
    
}

.titulo{
    white-space: nowrap;
}

/*navbar*/
.navbar{
    background: #FFFFFF ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar img{
    margin-left: 35px ;
}

#navbarNav a:hover{
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

.container-fluid{
    padding-right: 8% !important;
    padding-left: 8% !important;
}

/*Banner*/
.banner{
    padding-top: 10%;
    padding-bottom: 10%;
    background: url(imagens/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center !important;
}

.banner .btn{
    font-weight: 800 !important;
}

.btn{
    background-color:#F6C101 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)!important;
    border-radius: 50px !important;
    border: none !important;
    font-family: Nunito !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 25px !important;
    text-align: center !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:14px 35px 14px 35px !important;
    white-space: nowrap;
}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.banner h2{
    margin-bottom: 6% !important;
}

.banner h1{
    text-align: center !important;
    margin-bottom: 26% !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
/*Ensino*/
.ensino{
    background: url(imagens/ensino.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    padding-top: 6%;
    padding-bottom: 15%;
}

.ensino h1{
padding-bottom: 3.5%;
}

.ensino p{
    padding-top: 5%;
} 

.icone{
    height: 70px;
    padding-bottom: 30px;
    padding-left: 6px;
}


/*Aplicativo*/
.aplicativo{
    background: #FBFBFB;
    padding-top: 6%;
    padding-bottom: 5%;
}

.aplicativo h1{
    padding-bottom: 6%;
}
.aplicativo p {
    margin-top: 6%;
}

.aplicativo .col-lg-5{
    text-align: center;
}
.aplicativo p{
    padding-left: 4%;
}

.botao .img-fluid{
    padding-left: 5%;
    padding-top: 5%;
}

/*Galeria*/
.galeria{
    background: #F2F2F2;
    padding-top: 6%;
    padding-bottom: 5%;
}

.galeria h1{
    padding-bottom: 6%;
} 

.port img{
    width: 100%;
    height:auto;
    padding-left: 10%;
    padding-right: 10%;
}

.carrossel .slick-prev:before {
    content: url(imagens/esquerda.png);
    color:#FF9933;
}
  
.carrossel .slick-next:before {
    content: url(imagens/direita.png);
    color:#FF9933;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
    color:orange !important;
    font-size: 15px !important;
}

.slick-dotted.slick-slider {
    margin-left: 4%;
    margin-right: 4%;
}

.slick-dots li, .slick-dots li button {
    height: 0px !important;
}

/*Projetos*/
.projetos{
    padding-top: 6%;
    padding-bottom: 6%;
    background: #FBFBFB;
}
.projetos h1{
    padding-bottom: 4%;
}

.projetos p{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFCF3;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 10%;
    text-align: left !important;
}

.projetos .col-lg-4{
    text-align: center;
}

.projetos h4{
    padding-top: 4%;
}

.card1{
    background: linear-gradient(to bottom, #FBFBFB 0%, #FBFBFB 91px, #DA3838 91px, #DA3838 100%);
    height: 440px;
}

.card2{
    background: linear-gradient(to bottom, #FBFBFB 0%, #FBFBFB 91px, #4F78C7 91px, #4F78C7 100%);
    height: 440px;
}

.card3{
    background: linear-gradient(to bottom, #FBFBFB 0%, #FBFBFB 91px, #F6C101 91px, #F6C101 100%);
    height: 440px;
}

.botao-p{
    padding-top: 6%;
    text-align: center;
}

.botao-p .btn{
    background: #3EBB51 !important;
    border-radius: 30px !important;
    padding:10px 12% 10px 12% !important;
}

.card1 img{
    border: 10px solid #DA3838;
    border-radius: 100%;
    background: #DA3838;
}

.card2 img{
    border: 10px solid #4F78C7;
    border-radius: 100%;
    background: #4F78C7;
}

.card3 img{
    border: 10px solid #F6C101;
    border-radius: 100%;
    background: #F6C101;
}

/*Propostas pedagógicas*/
.propostas{
    background: #F2F2F2;
    padding-top: 2%;
    padding-bottom: 4%;
}

.propostas p{
    padding-top: 8%;
    padding-bottom: 5%;
    padding-right: 6%;
}

.valores{
    display: inline-block;
    padding-bottom: 2%;
}

.valores img{
    float: left;
    margin: 1px 12px 0px 0px;
}

.valores h5{
    float: left;
}

.titulo-valores{
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 2px;
    border-bottom-color: #4F78C7;
    padding-right: 5px;
}

.propostas .col-sm-4{
    text-align: center;
}

.propostas .col-sm-4 img{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.propostas .col-sm-12{
margin-top: 4%;
}

/*Matricula*/
.matricula{
    padding-top: 6%;
    padding-bottom: 6%;
    background:url(imagens/matricula.png);
    background-size: cover;
    background-position-y:50%; 
}

.matricula .btn{
    background: #DA3838 !important;
    padding:6px 8.5% 6px 8.5% !important;
    font-size: 14px !important;
    line-height: 19px !important;
    margin-top: 14%;
    margin-left: 30px !important;
}

.form-control {
    height: calc(1.1em + .75rem + 2px) !important;
    width: 302px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    line-height: 17px !important;
    background-color: #E0E0E0 !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px !important;
    margin-bottom: 20px;
    text-align: center !important;
    
}

.form{
    width: 140px!important;
}

.matricula .titulo, .matricula p{
    padding-bottom: 2%;
    text-indent: 0 !important;
}

.enviar{
    padding-left: 80px;
}

.enviar .btn{
width: 100px;
}

/* Eventos */
.evento .container-fluid{
    padding: 0 !important;
    
}
.evento .row{
    margin: 0 !important;
}

.card-evento{
    background: #3EBB51;
    width: 480px;
    height: 520px;
    padding-top: 50px;
    padding-left:60px;
    padding-right: 60px;

}
.card-evento .titulo h1{
    text-align: center;
}

.evento p{
    font-size: 20px;
    line-height: 24px;
    color: #FFFCF3;
    padding-top: 20px;
}

/*Contatos*/
.contatos{
    background: #FBFBFB;
    padding-top: 6%;
    border-top: 5px solid #F6C101;
}

.contatos h1{
    font-size: 24px !important;
    line-height: 42px !important;
    padding-bottom: 4%;
    text-align: center !important;
    display: grid;
}

.contatos-text img{
    display: inline-block;
}

.contatos p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    line-height: 19px !important;
    align-items: center;
    color: #3EBB51;
    text-indent: 10px !important;
    padding-bottom: 3%;
    display: inline-block;
}

.social img{
    margin-right: 20px;
}

.form-grup .form-control{
    height: calc(3.8em + .75rem + 14px) !important;
    width: 302px !important;
}

.forms{
    display: inline-table !important;
}

.mais .btn{
    padding:6px 8.5% 6px 8.5% !important;
    font-size: 14px !important;
    line-height: 19px !important;
    background: #0E4DC7 !important;
}

.contatos .col-lg-4 {
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

footer{
    text-align: center;
    background: #F6C101;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

footer p{
    margin: 0;
    font-size: 14px;
    line-height: 4px;
    color: #FBFBFB;
    display: inline;
}

footer img{
    width: auto;
    height: 20px;
    margin-bottom: 8px;
}


/*Responsivo*/
@media (max-width: 1400px){
    .navbar a{
        padding-left: 8px !important;
        padding-right: 8px !important;
        margin-left: 8px;
        margin-right: 8px;
        font-size: 13px;
    }
}

@media (max-width: 1200px){
    .navbar a{
        padding-left: 2px !important;
        padding-right: 2px !important;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
    }
}

@media (max-width: 991px){
    .navbar a{
        font-size: 14px;
    }
    #navbarNav a:hover{
        border-bottom: 0;
        padding-bottom: 8px;
    }
    .ensino{
        background: url(imagens/992x652.png);
        background-size:100% 100%;
        padding-bottom: 20%;
    }
    .botao{
        text-align: center;
    }
}

@media (max-width: 768px){
    .ensino{
        background: url(imagens/768x722.png);
        background-size:100% 100%;
        padding-bottom: 30%;
    }

    .matricula{
        background-position-x:54% !important; 
    }
}

@media (max-width: 576px){
    .ensino{
        background:#F2F2F2;
        padding-bottom: 10%;
    }
    .banner{
        background-position-x: 12%;
    }
    h1,h3{
        text-align: center;
    }
    .propostas .col-sm-12 , .propostas .col-lg-4, .propostas .col-lg-12 {
        text-align: center;
    }
    .titulo{
        white-space: pre-line;
        text-align: center;
    }
    .card-evento{
        padding-top: 30px;
        padding-left:35px;
        padding-right: 35px;
    
    }.evento p{
        padding-top: 0px;
    }
    .evento{
        padding-top: 210px;
        background-size: 100% auto;
        background-position-y: 0%;
    }
    .card-evento{
        width: 576px;
        height: 520px;
    }
    .enviar .btn {
        width: auto;
    }
    .enviar{
        padding-left: 0;
    }
    .matricula .row{
        text-align: center !important;
    }
    .form-control {
        width: 100% !important;
    }
    .form-grup .form-control{
        width: 250px !important;
    }
    .matricula{
        background-position-x:0 !important; 
    }
    .container-fluid{
        padding-right: 5% !important;
        padding-left: 5% !important;
    }

}